body {
  text-align: center;
  background-color: whitesmoke;
}

h1 {
  border-bottom: 1px solid grey;
}

.todo {
  height: 200px;
  background-color: white;
  border: 1px solid gray;
}

.todo h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: cadetblue;
}
